<h1>Category#index</h1>
<p>Find me in app/views/category/index.html.erb</p>
<% @categories.each do |category| %>
  <a href="<%=  category_path(category.id) %>"><%= category.title %></a><br>
  &nbsp <%= category.description %> <br><br>
<% end %>
